/* Color Palette 
https://coolors.co/848fa5-f2f6d0-474747-ebf2fa-829191
sweet pea https://coolors.co/ac92a6-7a918d-d8d5db-eae8ff-d2d5dd
#474747: OUTER SPACE 
#F2F6D0: LIGHT GOLDENROD YELLOW
#EAE8FF: GLITTER 
#D8D5DB: GAINSBORO
#D2D5DD: LIGHT GRAY
#EBF2FA: ANTI-FLASH WHITE
google font custom fonts
font-family: 'Shadows Into Light', cursive; (fun)
font-family: 'Gloria Hallelujah', cursive; (fun thick)

*/

/* Global overrides
   ================================================================ */

/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* ----- end of  box sizing https://css-tricks.com/box-sizing/ ---- */

/* clearfix keeps following elements to come inside of floated elements */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

html {

  /* makes the font size 10px in rem easy calculation 
  browser overall font-size 16px > 16 * .625 = 10px
  1.6 rem * 10px = 16px */
  /* Usually default font-size of the browser is 16px. Setting font-size: 100% will make 1rem = 16px. But it will make calculations a little difficult. A better way is to set font-size: 62.5%. Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
  https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97
  */
  font-size: 62.5%; /* 1em = 10px */
  color: #474747; /* OUTER SPACE */
  background-color: #EBF2FA; /* ANTI-FLASH WHITE */
}
/* catch all for overflow */
img, embed, object, video {
  max-width: 100%;
}

a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

a:hover {
  /* color: #F2F6D0; LIGHT GOLDENROD YELLOW */
  background-color: #D8D5DB; /* GAINSBORO*/
  /* rounded hover highlite */
  border-radius: 1rem;
  text-decoration: none;
}

html, body, main {
  /* 100% of height of viewport
  https://youtu.be/wBlBTO7mqoI?t=659 
    always put body 100vh, margin: 0 when starting project
  */
  min-height: 100vh;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2rem;
  /* center things */
  margin: 0 auto;
  text-align: center;
}
body {
  height: 100%;
  /* margin: 0 1rem; */
}
/* Layout
   ================================================================ */
/* ####### centered name on landing page ######### */
/* https://git.generalassemb.ly/sf-wdi-51/css-flexbox#flexbox-to-the-rescue 
   https://codepen.io/heggy231/pen/omKxwr
*/
#landing-page-flex {
  /* transform: translate(50%, 50%); */
  height: 100vh;
  /* width: 100vw; */
  display:flex;
  margin: 0 auto;
  /* flex direction default is row so set it column */
  flex-direction: column;
  /* text is center */
  justify-content: center;
  align-items: center;
}

/* Arrow down indication for more content below */
/* https://git.generalassemb.ly/ga-wdi-lessons/css-animations 
 * keyframe animations: 
 * To keyframe animate a CSS element, we need two components - the animation structure itself, and then a call to the animation with specific instructions. 
 * https://webdesign.tutsplus.com/articles/15-inspiring-examples-of-css-animation-on-codepen--cms-23937
 * https://www.w3schools.com/css/css3_animations.asp

 */
/* [x] little arrow bounce 
      [x] bouncing arrow
        - https://codepen.io/bisaillonyannick/pen/pvZeGg

        - https://developer.mozilla.org/en-US/docs/Web/CSS/animation-name
*/
.top-level-wrapper-flex {
  display:flex;
  flex-direction: column;
  /* where do I want my main axis to be here I want centered 
  https://youtu.be/wBlBTO7mqoI?t=1050
  */
  /* use outline when testing this doesn't takce up any space! */
  /* outline: 3px red; */
  justify-content: center;
  align-items: center;
}


/* to animate: 1) call the animation name, 2) set keyframes time and (x,y) coordinates*/
.bouncy {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* tell css how bounce will behave */
/* @keyframes bounce {
  0% {
    transform: translate(0, 0)
  } */
  /* https://css-tricks.com/css-keyframe-animation-delay-iterations/ 
   https://css-tricks.com/almanac/properties/a/animation/
  */
@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 4rem);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 2rem);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* ###### creating nav bar using flex ######## */
.nav-wrapper-flex {
  overflow: hidden;
  display: flex;
  /* how much each flex item div will grown relative to rest */
  justify-content: space-between;
  background-color: rgba(210, 213, 221, 0.6) /* light gray with transp*/

}

/* Navbar links */
.nav-wrapper-flex div {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: solid, #474747 !important;
}
.nav-wrapper-flex div a {
  /* adding padding so that when hover background color covers whole thing  */
  padding: 0 1rem;
}

/* ###### sticky nav bar ######## */
/* https://git.generalassemb.ly/sf-wdi-51/css-flexbox#problem-2-make-the-footer-stick 

w3 https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_prop_element_offsettop_sticky
*/

.sticky-nav {
  position: fixed;
  top:0;
  width: 100vw;
}

/* Add cushion for smooth movement (as the navigation bar becomes sticky to the top (position:fixed and top:0) */
.sticky, main {
  padding-top: 3rem;
}

/* Headings
   ================================================================ */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
#top-level {
  font-family: 'Gloria Hallelujah', cursive;
}


/* Parallax Scrolling Effect */
/* https://www.youtube.com/watch?v=d34GsFz-HkY&feature=youtu.be */
/* 
[ ] find cool 2 img - background img credit: natbg.com
https://www.maxpixel.net/Coral-Volcanic-Rock-Background-Great-Adventure-3062014
[ ] add parallex effect page

*/

/* hamburger menu */

.hamburger-nav-bar {
  display: none;
}
.hamburger-menu-icon {
  display: none !important;
}
/* Testimonial */
#testimonial-flex-wrapper {
  display: flex;
  justify-content: center;
  
}

#testimonial-flex-wrapper div {
  text-align: center;
}

#testimonial-2, #testimonial-3 {
  display: none;
}

.h3wrapper-flex {
  display: flex;
  justify-content: center;
}

/* Grid why I started coding */
/* https://git.generalassemb.ly/sf-wdi-51/wireframes-layouts-grid-systems#introduction-grids */

/* Filter out only first-generation child tags grid-column.  But no nested ones (second-gen) doesn't get picked!!
section > .grid-column */
section .grid-column {
  padding: 15px;
  background-color: #EBF2FA;
  
}
/* But changing padding wouldn't make a difference since box-sizing is set to border-box
   Add border to see where my col sits
*/
/* for my parent grid container I add clearfix to keep following elements not intrude into my grid system */
.grid-row {
  margin: .5%;  /* Question:  why right side doesn't get margin??? */
  /* put border around my row during testing */
  /* border: 1px dotted slateblue; */
}
.grid-column {
  /* lets make col to float */
  float: left;
  margin: .5%;
  position: relative;
  /* put border around my col during testing */
  /* border: 1px solid slategray; */
  /* border-radius: 15px; make my box round edge */
  /* I put center text-align to my main section already. so just inherit it please */
  text-align: inherit;
}
/* set my kid col to take up hal of parent row grid container */
.testi-grid-col-half {
  width: 49%; /* remember I added margin .5 on this col so I need to minu 1% (left, right) it can't be 50% here*/
}
/*
cheatsheet for grid calc for all dimension
Remember, all grid must equal to 12 in total 
Also if you added margin to the column take that amount out
    from the 100% width!! 

.column-1 { width: 8.33%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }
*/
/* (n / 12) * 100 = 6/12 * 100 =  16.66% */

/* ########## caroussel ########### */
.mycarousel-container {
  
}
.mycarousel-item {
  width: 24%;
}

/* Footer
   ================================================================ */
footer {
  clear: both;
  color: #bbb;
  display: flex;
  justify-content: center;
}

/* when viewport width is 690px or less do this*/
@media only screen and (max-width: 690px) {
  .hamburger-menu-icon {
    display: block !important;
  }
  .nav-wrapper-flex {
    display: none;
  }

  /* for grid https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_breakpoints */
  .testi-grid-col-half {
    width: 99%;
  }
}