/* not grid but floated with clear fix 2 columns https://codepen.io/heggy231/pen/qgevLq */
/* 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive
*/
/* apply a natural box layout model to all elements, but allowing components to change 

*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.row, .column {

}
/* explicitly define our column widths so that they also include border and padding. */
.row {
  border: 1px solid #474747;
  box-sizing: border-box;
}
.column {
  border: 1px solid #ff0000;
  box-sizing: border-box;
}


/* clearfix keeps following elements to come inside of floated elements */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
/* Our columns will handle page width */
.column {
  float: left;
}

/* 
- Set column widths. We don't necessarily want our column widths to be defined by their content.
- Define total width. In any scenario, we want our total grid width to cover the entire page.
- Give everything some space. Our grid will look better if we give our rows and columns some breathing room.
videos for csss https://git.generalassemb.ly/sf-wdi-51/css-selector-basics#videos
*/

/* header .middle and footer selectors some explicit padding and heights. */
.column {
  float: left;
  position: relative;
  border: 2px solid tomato;
  /* make the corner rounded */
  border-radius: 20px;
  text-align: center;
}
/* https://git.generalassemb.ly/sf-wdi-51/css-selector-basics#direct-child-selectors 
Filter out only first-generation child tags.
header > .column
Styles all <p> tags that are direct, first-generation descendants of <main> tags
 main > p {}
*/
header > .column,
footer > .column {
  padding: 25px;
}
/* from middle get the first col (all cases)  */
.middle > .column {
  height: 400px;
  line-height: 400px;
}

header nav {
  margin: auto;
  text-align: center;
}

nav a {
  display: inline-block;
}

/* But changing padding wouldn't make a difference since box-sizing is set to border-box */
.column {
  /* We don't want to add too much space, so 1% should be enough */
  margin: 1%;
  border: 1px solid #ff0000;
}

/* (n / 12) * 100 = 2/12 * 100 =  16.66% */
.column-2 {
  width: 16.66%;
}

.column-1 { width: 8.33%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }

/* remember to customize it to fit my own need
    .col-2-3 = a column that takes up 2/3 width of its parent container.
*/